<div class="personal-info">
  <div class="form-header">
    <h1 class="title">Choose A Plan</h1>
    <p class="subtitle">Please select a plan to continue.</p>
  </div>

  <div class="plan-container">
    <div class="package-wrapper" *ngIf="packages">
      @for (package of packages; track package.id) {
      <div class="package-card">
        <p class="title">{{ package.name }}</p>
        <p>Starts at</p>
        <div class="price-tag">
          <p class="price-text">$0</p>
          <p>per month/user</p>
        </div>
        <div class="details">
          <p>
            {{ package.description }}
          </p>
        </div>
        <div class="action">
          <button type="button" ngClass="button">Get Started</button>
        </div>
        <div class="divider"></div>
        <div class="card-footer-content">
          <p>{{package.packageDescTitle}}</p>
        </div>
      </div>
      }
    </div>

    <!-- Submit Button -->
    <div class="package-actions">
      <button
        type="button"
        class="btn btn-primary"
        [disabled]="isLoading"
        (click)="goBack()"
      >
        <span *ngIf="!isLoading">Go Back</span>
        <span *ngIf="isLoading" class="loading">
          <span class="spinner"></span>
          Processing...
        </span>
      </button>
      <button
        type="button"
        class="btn btn-primary"
        [disabled]="isLoading"
        (click)="continue()"
      >
        <span *ngIf="!isLoading">Next Step</span>
        <span *ngIf="isLoading" class="loading">
          <span class="spinner"></span>
          Processing...
        </span>
      </button>
    </div>
  </div>
</div>
